<!DOCTYPE html>
<html>
<head>	
	<meta charset="utf-8" />
	<title>Movie intruction</title>
	<meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
	<style type="text/css">
	     body {background: url(static/images/background.png);}
	     h1 {text-align:center; color:white; font-weight: bold;font-family: arial;}
	     div.total {border: 0.5em solid gray; padding: 1.5em; margin-left: 1em; margin-right: 1em; background: green;}
	     span {margin-left: 5em; margin-bottom: 2em}
	</style>

</head>
<body>
    <div><h1>Welcome To My Movies Show Page!</h1></div>
	<div class="total">
	    <span><a href="http://localhost:8888/XIEYIZUN_MOVIES_PAGE/tmnt"><img src="static/movie/tmnt/generaloverview.png" height=350em weight=450em/></a></span>
	    <span><a href="http://localhost:8888/XIEYIZUN_MOVIES_PAGE/tmnt2"><img src="static/movie/tmnt2/generaloverview.png" height=350em weight=450em/></a></span>
	    <span><a href="http://localhost:8888/XIEYIZUN_MOVIES_PAGE/princessbride"><img src="static/movie/mortalkombat/generaloverview.png" height=350em weight=450em/></a></span>
	    <span><a href="http://localhost:8888/XIEYIZUN_MOVIES_PAGE/mortalkombat"><img src="static/movie/princessbride/generaloverview.png" height=350em weight=450em/></a></span>
	</div>
	<div><h1>Just Click The One You Like!</h1></div>
</body>
</html>
